<div class="trip-detail-title">
  <h2>Trip details</h2>
</div>

<div class="my-trip-title">
  <h3 class="city-name"><%= trip.city %></h3>
  <% total = trip.cost.flightCost + trip.cost.accommodationCost %>
  <p class="total-trip-price">€ <%= total %></p>
</div>

<div class="map-container">
  <div id='map' style='width: 100%; height: 200px;'></div>
</div>

<div class="flight-container">
  <div class="info-title-container">
    <h3>Flight Info.</h3>
    <h3>€ <%= trip.cost.flightCost %></h3>
  </div>
  <article class="trip-info-container">
    <div class="duration-container">
      <p>DEPARTURE  Duration:</p>
      <p class="duration-info"><%= trip.flight.fly_duration%></p>
    </div>
    <p><%= trip.departureDate%></p>
    <% let flightFlag = 0; %>
    <% let convertedTime; %>
    <% let hours; %>
    <% let minutes; %>
    <% for(let i = 0; i < trip.flight.route.length; i++){ %>
      <%if(flightFlag === 0){ %>
        <div class="flight-card">
          <div class="flight-card-info">
            <% convertedTime = new Date(trip.flight.route[i].dTimeUTC * 1000) %>
            <% hours = convertedTime.getHours() %>
            <% minutes = convertedTime.getMinutes() %>
            <% if(hours < 10) {hours = "0" + hours} %>
            <% if(minutes < 10) {minutes = "0" + minutes} %>
            <p class="flight-hour"><%= hours %>:<%= minutes %></p>
            <p><%= trip.flight.route[i].flyFrom %> <%= trip.flight.route[i].cityFrom %></p>
          </div>
          <div class="flight-card-info">
            <% convertedTime = new Date(trip.flight.route[i].aTimeUTC * 1000) %>
            <% hours = convertedTime.getHours() %>
            <% minutes = convertedTime.getMinutes() %>
            <% if(hours < 10) {hours = "0" + hours} %>
            <% if(minutes < 10) {minutes = "0" + minutes} %>
            <p class="flight-hour"><%= hours %>:<%= minutes %></p>
            <p><%= trip.flight.route[i].flyTo %> <%= trip.flight.route[i].cityTo %></p>
          </div>
        </div>
      <% }; %>
      <%if(trip.flight.flyTo === trip.flight.route[i].flyTo){ %>
        <% flightFlag = 1 %>
      <% }; %>
    <% }; %>
  </article>

  <article class="trip-info-container">
    <div class="duration-container">
      <p>RETURN  Duration:</p>
      <p class="duration-info"><%= trip.flight.return_duration%></p>
    </div>
    <p><%= trip.returnDate%></p>
    <% for(let i = 0; i < trip.flight.route.length; i++){ %>
      <%if(flightFlag === 0){ %>
        <div class="flight-card">
          <div class="flight-card-info">
            <% convertedTime = new Date(trip.flight.route[i].dTimeUTC * 1000) %>
            <% hours = convertedTime.getHours() %>
            <% minutes = convertedTime.getMinutes() %>
            <% if(hours < 10) {hours = "0" + hours} %>
            <% if(minutes < 10) {minutes = "0" + minutes} %>
            <p class="flight-hour"><%= hours %>:<%= minutes %></p>
            <p><%= trip.flight.route[i].flyFrom %> <%= trip.flight.route[i].cityFrom %></p>
          </div>
          <div class="flight-card-info">
            <% convertedTime = new Date(trip.flight.route[i].aTimeUTC * 1000) %>
            <% hours = convertedTime.getHours() %>
            <% minutes = convertedTime.getMinutes() %>
            <% if(hours < 10) {hours = "0" + hours} %>
            <% if(minutes < 10) {minutes = "0" + minutes} %>
            <p class="flight-hour"><%= hours %>:<%= minutes %></p>
            <p><%= trip.flight.route[i].flyTo %> <%= trip.flight.route[i].cityTo %></p>
          </div>
        </div>
      <% }; %>
      <%if(trip.flight.flyTo === trip.flight.route[i].flyTo){ %>
        <% flightFlag = 0 %>
      <% }; %>
    <% }; %>
  </article>
</div>

<div class="accommodation-container">
  <div class="info-title-container">
    <h3>Accommodation Info.</h3>
    <h3>€ <%= trip.cost.accommodationCost %></h3>
  </div>
  <div class="trip-info-container">
    <p><%= trip.accommodation.data2.value.hotel_data_node.name %></p>
    <p><%= trip.accommodation.data2.value.hotel_data_node.loc.full %></p>
    <p>Type:   <%= trip.accommodation.data2.value.hotel_geo_node.tags.property_type[0] %></p>
    <% if(trip.accommodation.data2.value.hotel_data_node.contact.phone[0]){ %>
      <p>TEL: <%= trip.accommodation.data2.value.hotel_data_node.contact.phone[0] %></p>
    <% } %>
    <p>Rating: <%= trip.accommodation.data2.value.hotel_data_node.rating %></p>
  </div>
</div>

<div class="Activity-container">
  <div class="info-title-container">
    <h3>Activity Info.</h3>
  </div>
  <div class="trip-info-container">
    <p><%= trip.activity.name %></p>
    <p><%= trip.activity.vicinity %></p>
    <% if(trip.activity.rating){ %>
      <p>Rating: <%= trip.activity.rating %></p>
    <% } %>
  </div>
</div>

<div class="details-btn">
  <form action="/trip/my-trips/<%= trip.id %>/delete" method="post">
    <button type="submit"><img src="/images/delete.png" alt="delete button"></button>
  </form>

  <div class="back-btn">
    <a href="/trip/my-trips"><img src="/images/back.png" alt="back button"></a>
  </div>
</div>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  <% const lat = trip.accommodation.data2.value.hotel_geo_node.location.lat %>
  <% const lng = trip.accommodation.data2.value.hotel_geo_node.location.long %>
  mapboxgl.accessToken = "<%= mapboxKey %>";
  var map = new mapboxgl.Map({
  container: 'map', // container id
  style: 'mapbox://styles/mapbox/streets-v9', // stylesheet location
  center: [ <%=lng%>, <%=lat%>], // starting position [lng, lat]
  zoom: 7 // starting zoom
  });
</script>