<div class="trip-container">
  <div class="flight-info">
    <div class="city-name">
      <p><%= data.flightData.cityTo %></p>
    </div>
  </div>
  <div class="tripInfo">
    <p><%= data.accommodationData2.value.hotel_data_node.name %></p>
  </div>
  <div class="tripInfo">
    <p>Activity</p>
  </div>
 <div class="tripView-btns">
    <div class="tripView-btn">
      <form action="/trip" method="post">
        <input type="hidden" name="data" value="<%= data.flightData%>">
        <input type="hidden" name="date_from" value="<%= date_from%>">
        <input type="hidden" name="date_to" value="<%= date_to%>">
        <input type="hidden" name="budget" value="<%= budget%>">
        <button class="tripView-btn-text" type="submit">New trip</button>
      </form>
    </div>
    <div class="tripView-btn">
      <form action="/trip/save" method="post">
        <input type="hidden" name="city" value="<%= data.flightData.cityTo%>">
        <button class="tripView-btn-text" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>





