<div class="trip-container">
  <div class="flight">
    <p><%= data.cityTo%></p>
  </div>
  <div class="flight">
    <p>Accommodation</p>
  </div>
  <div class="flight">
    <p>Activity</p>
  </div>
 
  <div>
    <form action="/api" method="post">
      <input type="hidden" name="data" value="<%= data%>">
      <input type="hidden" name="date_from" value="<%= date_from%>">
      <input type="hidden" name="date_to" value="<%= date_to%>">
      <input type="hidden" name="budget" value="<%= budget%>">
      <button type="submit">New trip</button>
    </form>
  </div>
  <form action="/trip" method="post">
    <input type="hidden" name="city" value="<%= data.cityTo%>">
    <button type="submit">Save</button>
  </form>
</div>




