<div class="trip-container">
  <div class="flight-info">
    <div class="flight-image"></div>
    <div class="city-name">
      <p><%= data.flightData.cityTo %></p>
    </div>
  </div>
  <div class="accommodation-info">
    <div class="accommodation-image"></div>
    <div class="accommodation-name">
      <p><%= data.accommodationData2.value.hotel_data_node.name %></p>
    </div>
  </div>
  <div class="activity-info">
    <div class="activity-image"></div>
    <div class="activity-name">
     <p>Activity</p>
    </div>
  </div>
 <div class="tripView-btns">
    <div class="tripView-btn">
      <form action="/trip" method="post">
        <input type="hidden" name="departureDate" value="<%= departureDate%>">
        <input type="hidden" name="returnDate" value="<%= returnDate%>">
        <input type="hidden" name="budget" value="<%= budget%>">
        <button class="tripView-btn-text" type="submit">New trip</button>
      </form>
      </div>
      <div class="tripView-btn">
      <form action="/trip/save" method="post">
        <input type="hidden" name="city" value="<%= data.flightData.cityTo%>">
        <input type="hidden" name="departureDate" value="<%= departureDate%>">
        <input type="hidden" name="returnDate" value="<%= returnDate%>">
        <input type="hidden" name="cost" value="<%= JSON.stringify(cost)%>">
        <input type="hidden" name="flightData" value="<%= JSON.stringify(data.flightData)%>">
        <input type="hidden" name="accommodationData1" value="<%= JSON.stringify(data.accommodationData1)%>">
        <input type="hidden" name="accommodationData2" value="<%= JSON.stringify(data.accommodationData2)%>">
        <input type="hidden" name="activity" value="<%= JSON.stringify(data.activity)%>">

        <button class="tripView-btn-text" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>





